:root
{
 

	--cor1: rgb(0, 0, 31);
	--cor2: rgb(130, 27, 27);
	--cor3: rgb(193, 61, 61);
    --cor4: #DCE6F2;
}
main
{
    width: 100%;
}
.botaoVER
{
    width: 100px;
    padding: 10px;
    background-color: var(--cor2);
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.botaoVER:hover
{
    background-color: var(--cor3);
}

div.main
{
    width: 100%;
    background-image: url(../images/img1.jpg);
    height: 250px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    position: relative;
}

div.veja
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

div.noticia
{
    padding-top: 30px;
    width: 90%;
    margin: auto;
    text-align: center;
}

img#painIMG
{
    width: 80%;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 10px solid var(--cor2);
}

p.tituloNoticia
{
    font-weight: bolder;
    font-size: 20px;
}

iframe
{
    width: 890px;
    height: 500px;
    border-radius: 10px;
    border-bottom: 10px solid var(--cor2);
}

/* Responsivo */

@media (max-width: 700px)
{
    div.main
    {
        height: 150px;
    }

    div.veja
    {
        position: absolute;
        top: 50%;
        left: 25%;
    }
    div.veja > h1
    {
        font-size: 1em;
    }

    .botaoVER
    {
        width: 70px;
        padding: 10px;
        background-color: var(--cor2);
        border: none;
        font-size: 12px;
        cursor: pointer;
        transition: 0.3s;
    }

    img#painIMG
    {
        width: 100%;
        border-bottom: 5px solid var(--cor2);
    }

    p.tituloNoticia
    {
        font-weight: bolder;
        font-size: 14px;
    }
    iframe
    {
        width:560px;
        height: 315px;
    }
}