::-webkit-scrollbar{width: 2px;}::-webkit-scrollbar-thumb{background-color: var(--cor2);}

div.topo
{
    background-image: url(../images/planilha.jpg);
    background-size: cover;
    background-position: top center;
    height: 250px;
}

div.conteudo
{
    width: 90%;
    margin: auto;
}
div.planilha
{
    width: 100%;
}
div.pRodada
{
    width: 90%;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 50px;
}
div.pRodada:hover
{
    transform: scale(1.05);
}
table.tabelaPLANILHA
{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: 1px solid var(--cor2);
}
td.destaque
{
    border: 2px solid var(--cor2);
    font-size: 20px;
    font-weight: bolder;
}
table.tabelaPLANILHA > td
{
    border-right: 3px solid var(--cor2);
}
#win{color: rgb(19, 110, 19);} #loss{color: rgb(145, 0, 0);}


div.totalPontos > p, div.totalPontos > p > strong, div.totalPontos > i
{
    color: #808080;
}

div.totalPontos > i
{
    font-size: 0.7em;
}

/* Responsividade */

@media (max-width:700px)
{
    div.topo
    {
        height: 150px;
    }

    div.conteudo > h1
    {
        font-size: 1.5em;
    }
    td
    {
        padding: 0px 1px 0px 1px;
        font-size: 12px;
    }
    td.destaque
    {
        font-size: 13px;
    }
}