*{margin: 0; padding: 0;}

div.inicio
{
    background-image: url(../images/rodadas.jpg);
    background-size: cover;
    background-position: center center;
    height: 250px;
}

div.jogos
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

div.rodada
{
	padding: 5px;
	width: 300px;
	margin: 15px 10px;
	transition: 0.3s;
	cursor: pointer;

	border: 1px solid var(--cor2);
}
div.rodada:hover
{
	transform: scale(1.1);
}

div.partida
{
	display: flex;
	justify-content: space-between;
}


div.titulo
{
    margin-left: 15px;
}
div.titulo > p
{
    font-size: 20px;
    font-weight: bolder;
}

img.logo
{
    width: 40px;
}

/* Responsividade */

@media (max-width: 700px)
{
    div.inicio 
    {
        height: 150px;
    }

    div.jogos
    {
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    div.rodada:hover
    {
        transform: scale(1.05);
    }
    ::-webkit-scrollbar
    {
        width: 2px;
    }
    ::-webkit-scrollbar-thumb
    {
        color: white;
    }
    ::-webkit-scrollbar-corner{
        color: transparent;
        width: 2px;
    }

}