@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{padding: 0; margin: 0; font-family: 'Poppins', sans-serif; color: var(--cor4);}
:root
{
  --cor1:rgb(0, 0, 31);
	--cor2: rgb(130, 27, 27);
	--cor3: rgb(193, 61, 61);
}
body
{
  background-color: var(--cor1);
}

main
{
  width: 100%;
}


